.userCard {
	display: flex;
	min-width: 340px;
	min-height: 168px;
	&__img{
		border-radius:8px;
		width: 100%;
		background-image: url(../../Img/userPhoto.jpg);
		background-size: cover;
		max-width: 120px;
		background-position: center;
	}
	&__img.arhive{
		background-image: url(../../Img/userPhoto.jpg);
		filter: grayscale(100%);
    
	}
	&__container{
		width: 100%;
		background-color: #FDFDFD;
		border-radius: 16px;
		padding: 20px;
		display: flex;
		gap: 20px;
	}
	&__content{
		position: relative;
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	&__userInfo {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: start;
	}
}

.userInfo {
	&__container {
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	&__nameSection {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__nameSection-name{
		max-width: 110px;
		overflow: hidden;
		text-overflow: ellipsis;
		-webkit-box-orient:horizontal;
		font-weight: 600;
		font-size: 20px;
		color: #22A0BC;
		margin-bottom: 4px;
		margin-right: 10px;
	}
	&__nameSection-name.arhive{
		color:#595959;
	}
	&__company {
		margin-top: 5px;
	}
	&__company.arhive {
		color:#9C9C9C;
	}
	&__city{
		font-size: 14px;
		color: #DADADA;
	}
}

@media (max-width:375px) {
	.userCard {
		justify-content: center;
		min-width: auto;
		min-height: auto;
		max-width: 110px;
		&__content{
			justify-content: space-between;
			height: 100%;
		}
		&__container{
			flex-direction: column;
			
			width: auto;
			align-items: center;
		}
		&__img{
			min-width: 120px;
			max-width:none;
			min-height: 130px;
			margin-bottom: 0;
		}
		
	}
	.userInfo{
		&__nameSection-name{
			font-size: 18px;
		}
		&__company{
			flex-shrink: 0;
			font-size: 14px;
			margin-top: 5px;
			margin-bottom: 12px;
			max-width: 120px;
			overflow: hidden;
			text-overflow: ellipsis;
			-webkit-box-orient:horizontal;
		}
		&__city{
			flex:0 1 auto;
			font-size: 10px;
			
		}
		&__nameSection-name{
			max-width: 90px;
			
		}
	}
}